<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="connString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\USERS\VBOXUSER\SOURCE\REPOS\DAMAZI1\CSHARP-STUDIA\CSLAB09-DB\CSLAB09\DATABASE\DATABASE.MDF;Integrated Security=True"/>
	</connectionStrings>
</configuration>